* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  height: 80vh;
  background-color: #EDEAE4;
  position: relative;
}

// header
header {
  background-color: #EDEAE4;
  border-bottom: .8rem solid #4E4859;
  height: 20vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.button__book-container {
	display: flex;
	justify-content: center;
}

