* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

html {
  overflow-x: hidden;
}
body {
  height: 80vh;
  background-color: #edeae4;
  position: relative;
}

// header
header {
  background-color: #edeae4;
  border-bottom: 1.1rem solid #4e4859;
  height: 20vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.button__book-container {
  display: flex;
  justify-content: center;
}
