@font-face {
    font-family: 'Cooper';
    src: url('../css/webfonts/CooperBlack.eot');
    src: url('../css/webfonts/CooperBlack.eot?#iefix') format('embedded-opentype'),
        url('../css/webfonts/CooperBlack.woff2') format('woff2'),
        url('../css/webfonts/CooperBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

